<section id="features" class="py-20 lg:pb-40 lg:pt-48">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl lg:text-5xl font-semibold">Main Features</h2>
    <div class="flex flex-col sm:flex-row sm:-mx-3 mt-12">
      <div class="flex-1 px-3">
        <div class="p-12 rounded-lg border border-solid border-gray-200 mb-8"
          style="box-shadow:0 10px 28px rgba(0,0,0,.08)">
          <p class="font-semibold text-xl">Service One

          </p>
          <p class="mt-4">An enim nullam tempor gravida donec enim ipsum blandit porta justo
            integer odio velna vitae auctor integer.
          </p>
        </div>
      </div>
      <div class="flex-1 px-3">
        <div class="p-12 rounded-lg border border-solid border-gray-200 mb-8"
          style="box-shadow:0 10px 28px rgba(0,0,0,.08)">
          <p class="font-semibold text-xl">Service Two
          </p>
          <p class="mt-4">An enim nullam tempor gravida donec enim ipsum blandit porta justo
            integer odio velna vitae auctor integer.
          </p>
        </div>
      </div>
      <div class="flex-1 px-3">
        <div class="p-12 rounded-lg border border-solid border-gray-200 mb-8"
          style="box-shadow:0 10px 28px rgba(0,0,0,.08)">
          <p class="font-semibold text-xl">Service Three

          </p>
          <p class="mt-4">An enim nullam tempor gravida donec enim ipsum blandit porta justo
            integer odio velna vitae auctor integer.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>